/**
 * Created by Galen Keily 06/2021
 */
/*Can probably defer to many salesforce styles once this is a LWC*/
button {
    background-color: #007377;
    color: white;
    border-radius: 4px;
}

#save-button, #clear-button {
    display: inline-block;
    margin-right: 10px;
    margin-top: 10px;
 }
 .popup {
  position: relative;
}
.popup .popuptext {
    visibility: hidden;
    width: 200px;
  background-color: #555;
  color: #fff;
  text-align: left;
  border-radius: 6px;
  padding: 8px 8px;
  position: absolute;
  z-index: 3;
/*  bottom: 125%;
  left: 50%;*/
  margin-left: -80px;
 }

/* Popup arrow */
.popup .popuptext::after {
  content: "";
  position: absolute;
/*  top: 100%;
  left: 50%;*/
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
 /* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}
 #info-pane {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 400;
    padding: 1em;
    background: white;
    /*text-align: left;*/
    max-width: 300px;
    min-width: 250px;
  }

  #form {
    display: none;
  }
  
#mymap {
      height: 900px;
      width: 100%;
      margin: 0;
      padding: 0;
    }
.map-root {
    height: 600px;
    width:80%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.coordsDiv {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 10px;
}


/* On screens that are 600px or less, set the background color to olive */
@media screen and (max-width: 900px) {
    .map-root{
        height: 550px;
    }
}

.leaflet-popup-content {
    line-height: 1.1 !important;
    font-size: 0.9em;
}

.leaflet-popup-content a {
    text-decoration: underline;
}

.leaflet-popup-content div {
    padding-bottom: 8px;
}

.map-root {
    cursor: pointer !important;
    z-index: 0;
}

.kml-popup {
    display: none !important;
}